*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    background: rgb(218, 213, 213);
}
.main{
    margin: 0 auto;
    display: inline-block;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem; 

}
.card{
    background:hsl(263, 55%, 52%);
    color: whitesmoke;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.position-quote{
    position: relative;
}
.quotation{
    height: 70px;
    width: 70px;
  
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    /* margin-right: 0.5rem; */
    /* margin-top: 0.3rem; */
}
.card .profiling{
    display: flex;
    align-items: center;
}
.card .bio{
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
}
.card .pic{
    border-radius: 50%;
}
.card .paragraph{
    margin-top: 1rem;
    font-size: 14px;
}
.card h4{
    margin-top: 1.5rem;
    font-size: 20px;
}
.joe{
    background: hsl(217, 19%, 35%);
}

.patrick{
    background: hsl(219, 29%, 14%);

}
.p{
    color:rgb(145, 139, 139);
}
.verified{
    color:rgb(182, 180, 180);
    font-size: 12px;
}
.jeanette,
.kira{
    background: hsl(210, 25%, 98%);
    color: hsl(217, 19%, 35%) ;
}

@media (min-width:40rem) {
    .main-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows:repeat(3, 1fr);
        place-content: center;
        min-width: 50rem;
    }
    .daniel{
        grid-column: 1 / 3;
        grid-row:1 / 2;
    }
    .joe{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .kira{
        grid-column:4 / 5;
        grid-row: 1 / 3;
    }
    .jeanette{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .patrick{
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
}

